/* .cardmain{
  height: 700px;
  width: 800px;
  /* display: flex;
  flex-direction: */


.cards {
  height: 500px;
  width: 300px;
  /* display: flex; */
  background-color: lightslategrey;
  /* border: 1px solid red; */
  border-radius: 50px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;


 
}
.heading {
  /* padding: 20px; */
  text-align: center;
  color: whitesmoke;
}
.img {
  height: 300px;
  width: 200px;
  margin-left: 40px;
  border-radius: 50px;
}
.desc{
  color: lightcyan;
}

/* From here our product task is start */
.basediv{
  /* height: 700px;
  width: 1450px;
  border: 1px solid red ; */
  display: flex;
  flex-direction: row;
}
.maincarddiv{
  height: 500px;
  width: 300px;
  border: 1px solid red;
  

}

.proimg{
  height: 300px;
  width: 300px;
  border: 1px solid red;
}
.productsimages{
  height: 100%;
  width: 100%;
}