.body{
    margin: 0px;
    min-height: 100vh;
    /* min-width: 100vh; */
    width: 100%;
    /* height: 100%; */
    border: 1px solid red;
    display: flex;
    padding: 20px;
}

.sidebar{
    width: 25%;
    height: 956px;
    border: 1px solid blue;
    background-color: darkbeige;
    border-radius: 50px;

}
.main{
    width: 75%;
    height: 956px;
    border: 1px solid darkgreen;
    background-color: crimson;
    border-radius: 50px;
}
.fh1{
    color: crimson;
    text-align: center;
}
h1{
    color: whitesmoke;
    text-align: center;
}
@media only screen and (max-width : 1100px){
    .body{
        flex-wrap: wrap;
    }
    .sidebar{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    
}